<form autocomplete="off">
    {{> "mka.advancement-controls"}}
    <div class="form-group">
        <label>{{localize "MKA.HitDie"}}</label>
        <span class="form-field-readonly">{{hitDie}}</span>
    </div>
</form>
